body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}
/* default font size */
.fa {
  font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
  font-size: 33px;
}
h2 {
  font-size: 27px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10.2px;
}
a {
  color: #23a1d1;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
legend {
  font-size: 18px;
  padding: 7px 0px;
}
label {
  font-size: 12px;
  font-weight: normal;
}

/*! Header start */

#top {
  background-color: #f6f6f6;
  padding: 12px 0;
}

.list-inline {
  margin-bottom: 0;
}
.list-inline li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #323030;
}

.list-inline li a{
	color: inherit;
}

.list-inline li i{
	font-size: 18px;
	margin-right: 8px;
}
.caret{
	border-top: 6px dashed;
	border-top: 6px solid \9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}


/*! Header end */
